body{
    background-color: rgb(111, 167, 241);font-family: 'Times New Roman', Times, serif;
}

#title{
    font-size:60px;
    text-align: center;
    color:rgb(0, 27, 61);
}

.back{
    display: grid;
    grid-template-columns: 600px 1000px  ;
    align-items:safe;
}

.hamza-photo{
    border-radius: 30px;
}

.container-item{
    background-color: rgb(46, 128, 235);
    font-size: 36px;
    text-indent: 20px;
    text-align:center;
    margin-block-start: 0px;
    margin-block-end: 0px;
    border-radius: 30px;
    padding-bottom: 50px;
}

#hobbies_label{
    font-size:34px;
    font-family: 'Times New Roman', Times, serif;
}

.nav{
display:inline;
margin: 40px;
text-align: center;
word-spacing: 280px;
font-family:'Times New Roman', Times, serif;
font-size: 25px;
border-radius: 10px;
background-color:rgb(46, 128, 235);
padding: 5px;
}

.hobby-dictionary{
    padding: 80px;
}

#nav_1{
    color:red;
}

#nav_2{
    color:rgb(238, 202, 0);
}

#nav_3{
    color:rgb(0, 255, 55);
}

hr{
    height: 20px;
    background-color:rgb(0, 48, 110);
    border-color: black;
}

#hobbies_title{
    font-size: 35px;
}

.hobbies_list{
    font-size: 30px;
    color:rgb(0, 74, 143);
}



#list_item_1{
    color:red;
}

#list_item_2{
    color:rgb(238, 202, 0);
}

#list_item_3{
    color:rgb(0, 255, 55);
}

#chess_photo{

    height: 400px;
    width: 500px;
}

#football_photo{
    height: 400px;
    width: 500px;
}

#community_photo{
    height: 400px;
    width: 500px;
}

.form{
    font-size:25px
}

#b1{
    font-size: 20px;
}

#b2{
    font-size: 20px;
}

.future{
    font-size: 25px;
}

.last{
    font-size: 25px;
}